<a:application xmlns:a="http://ajax.org/2005/aml">
    <a:appsettings name   = "appname"
      disable-right-click = "false"
      disable-f5          = "false"
      disable-space       = "true"
      auto-hide-loading   = "false"
      allow-select        = "true"
      baseurl             = "{apf.host ? apf.host + '/' : 'http://test.example.com/'}"
      allow-blur          = "true"
      resize-outline      = "{apf.isIE &lt; 8}"
      initdelay           = "false"
      language            = "mdlLangEn" />
</a:application>